<p style="color: green"><%= notice %></p>

<%= render @hero %>

<br/>

<div style="display: flex; margin: 1rem 0;">
  <%= link_to "Edit this hero", edit_hero_path(@hero), class: "button", style: "margin-right: 2rem"%>

  <%= button_to "Destroy this hero", @hero, method: :delete %>
</div>
