$background: #fff;
$background-alt: #ddd;
$foreground: #111; 
$accent: #47f;
$alert : #f47;

body{
    margin: 0;
    padding: 0;
    color: $foreground;
    background-color: $background;
}

header, footer{
    // width: 100%;
    padding: 1rem;
    background-color: $background-alt;
}

.content{
    display: grid;
    grid-template-columns: minmax(3rem, 12%) auto;
    main{
        // width: 100%;
        padding: 0 1rem;
    }

    .sidebar{
        padding-left: 1rem;
        padding-top: 1rem;
    }
}



table{
    width: 100%;
    padding: 0 1rem;
    border-spacing: 0;
    thead{
        text-align: left;
    }
    td, th{
        padding: 0.35rem 0.2rem;
    }
    th{
        background-color: $foreground;
        color: $background;
    }
    tr:nth-child(2n){
        background-color: $background-alt;
    }
}

a{
    color: $accent;
    text-decoration-style: double;
}

button, .button{
    display: block;
    width: fit-content;
    background-color: $background-alt;
    color: $foreground;
    font-size: 1rem;
    padding: 0.5rem 0.25rem;
    border: none;
    transition: 0.6s;
    text-decoration: none;
}

button:hover, .button:hover{
    background-color: $foreground;
    color: $background;
    cursor: pointer;
}

.notice {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 200px;
    height: initial;
    padding: 1rem;
    background-color: $accent;
    color: $background;
    text-align: justify;
}

.alert{
    background-color: $alert;
}